<ion-header>
    <ion-toolbar style="--background: #E9E9E9;">
        <ion-title style="margin-top: -30px; color: #a3a29f;">COMPLETED TASKS </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button style="margin-top: 4px;" menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">

            <ion-button (click)="openPopover($event)" fill="clear" slot="end">
                <ion-icon style="color: #5C5553;" name="options-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-searchbar style=" margin-top: 50px; font-size: 0.1rem; width: 125%; text-align: left; margin-left: -40px;  " placeholder='Try "Task 1"' [(ngModel)]="searchTerm" showCancelButton="focus" animated>
        </ion-searchbar>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

    <ion-card *ngFor="let todo of todos | filter:searchTerm " class="ion-margin">
        <ion-card-header>

            <ion-item lines="none" style="--background:transparent;">
                <ion-icon *ngIf="todo.status === 'Completed'" (click)="undo(todo.todoId)" style="margin-top: -10px; font-size: 17px; color: grey;" slot="end" name="close"></ion-icon>
                <ion-card-subtitle style="font-size: 14px;" [style.color]="todo.priority === 'HIGH' ? 'red' : (todo.priority === 'LOW' ? 'green' : 'orange') ">{{todo.category}}
                </ion-card-subtitle>
            </ion-item>

            <ion-item style="--background: white;">
                <ion-icon *ngIf="todo.priority === 'HIGH'" color="danger" size="small" name="ellipse"></ion-icon>
                <ion-icon *ngIf="todo.priority === 'MIDDLE'" color="warning" size="small" name="ellipse"></ion-icon>
                <ion-icon *ngIf="todo.priority === 'LOW'" color="success" size="small" name="ellipse"></ion-icon>

                <ion-label style="margin-left: 10px;">{{todo.title}}</ion-label>
            </ion-item>
        </ion-card-header>

        <ion-card-content>
            <ion-label style="font-size:14px; ">Due {{todo.startTime | date:'fullDate'}}</ion-label>
        </ion-card-content>
        <ion-row>
            <ion-item lines="none" style="--background: white;">
                <ion-icon name="pencil-outline"></ion-icon>
                <p (click)="edit(todo.todoId) ">Edit</p>
            </ion-item>
            <ion-item lines="none" style="--background: white; ">
                <ion-icon name="checkmark-outline" [style.color]="todo.status === 'Incomplete' ? 'red' : (todo.status === 'Completed' ? 'green' : 'orange')"></ion-icon>
                <p (click)="done(todo.todoId)" [style.color]="todo.status === 'Incomplete' ? 'red' : (todo.status === 'Completed' ? 'green' : 'orange')">{{todo.status}}</p>
            </ion-item>
            <ion-item lines="none" style="--background: white; ">
                <ion-icon name="trash-outline" style="color: tomato;"></ion-icon>
                <p (click)="delete(todo.todoId)" style="color: tomato;">Delete</p>
            </ion-item>
        </ion-row>

    </ion-card>




</ion-content>