<ion-tabs>
    <ion-tab-bar slot="bottom" style="--background:#000000; height: 60px;">
        <ion-tab-button tab="dashboard">
            <ion-icon name="bar-chart-outline"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="list">
            <ion-icon name="analytics"></ion-icon>
            <ion-label>Tasks</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="calendar">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Calendar</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon name="person"></ion-icon>
            <ion-label>Me</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>