<ion-content class="ion-padding">

    <ion-item lines="none" style="--background:transparent;">
        <ion-buttons slot="start">
            <ion-menu-button style="margin-left: -20px;  color: azure;" menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <ion-title style="color: #a3a29f; margin-left: -30px;">TODO.TXT</ion-title>


    </ion-item>

    <ion-avatar>
        <img [src]="user.photoURL">
    </ion-avatar>

    <h2>{{user.name}}</h2>
    <p>{{user.email}}</p>
    <p style="margin-top: 10px;">Created at {{user.createdAt | date}}</p>

    <ion-card>
        <ion-card-content>
            <ion-item detail (click)="editUser()">
                <ion-label>
                    Edit Profile
                </ion-label>
            </ion-item>

            <ion-item (click)="updatePassword()" detail>
                <ion-label>
                    Change Password
                </ion-label>
            </ion-item>

            <ion-item detail routerLink="/home">
                <ion-label>
                    My Tasks
                </ion-label>
            </ion-item>

            <ion-item detail routerLink="/completed">
                <ion-label>
                    Completed Tasks
                </ion-label>
            </ion-item>

            <ion-item (click)="logout()">
                <ion-label>
                    Logout
                </ion-label>
            </ion-item>
            <ion-button expand="block" shape="round" style="margin-top: 50px; color: red; margin-left: 70px; width: 250px; border: 1px solid red; border-radius: 30px; letter-spacing: 0.1ex; font-weight: 400; font-size:17px; --background: transparent; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                (click)="deleteUser()">DELETE ACCOUNT</ion-button>


            <ion-item lines="none" style="height: 180px;">

            </ion-item>

        </ion-card-content>
    </ion-card>
</ion-content>