<ion-content class="ion-padding">

    <ion-item lines="none">
        <ion-back-button style="color: grey;" defaultHref="/login"></ion-back-button>
    </ion-item>
    <ion-item lines="none">
        <ion-label style="text-align: center; letter-spacing: 0.1ex; font-weight: 300; font-size:23px; color:white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">FORGOT PASSWORD</ion-label>

    </ion-item>
    <p style="margin-top: -5px; text-align: center; letter-spacing: 0.2ex; font-weight: 200; font-size:13px; color:#CECECE; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">PLEASE ENTER YOUR EMAIL ADDRESS</p>

    <ion-card>

        <ion-card-content>

            <ion-item style="--background:transparent; margin-top: -10px;">
                <ion-label position="floating">Email Address</ion-label>
                <ion-input type="text" [(ngModel)]="email"></ion-input>
            </ion-item>

        </ion-card-content>
        <ion-button style="margin-top: 20px; font-size: 17px; letter-spacing: 0.2ex; font-weight: 200;  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;width: 50%; margin-left: 70px; --background:transparent; border: 0.5px solid white; border-radius: 30px;"
            expand="block" shape="round" (click)="resetPassword()">Reset Password</ion-button>


    </ion-card>
</ion-content>